<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div th:fragment="top(notiNum)">
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="/img/favicon.png" alt="">
        <span class="d-none d-lg-block"> CK World</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="검색" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number" th:text="${notiNum}"></span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              <span th:text="${notiNum}"></span> 개의 새로운 알림이 있습니다.
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
         	<li><hr class="dropdown-divider"></li>
          <!-- <c:forEach var="noti" items="${notiList}" > -->
            <div th:each="noti: ${notiList}">
            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>${noti.title}</h4>
                <p>${noti.content}</p>
                <!-- <c:set var="notiGenTime" value="${fn:substring(noti.genTime, 0, 19)}" />
                <p>${fn:replace(notiGenTime, 'T', ' ')}</p> -->
                <p th:text="${#strings.replace(#strings.substring(noti.genTime,0,19),'T',' ')}"></p>
              </div>
            </li>
            <li><hr class="dropdown-divider"></li>
            </div>
          <!-- </c:forEach> -->

            <li class="dropdown-footer">
              <a href="#">모든 알림 보기</a>
            </li>
          </ul><!-- End Notification Dropdown Items -->
        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number" th:text="${msgNum}"></span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              <span th:text="${msgNum}"></span> 개의 새로운 메세지가 있습니다.
              <a href="/message/write"><span class="badge rounded-pill bg-primary p-2 ms-2">작성</span></a>
            </li>
            <li><hr class="dropdown-divider"></li>
		  <!-- <c:forEach var="msg" items="${msgList}"> -->
          <div th:each="msg: ${msgList}">
            <li class="message-item">
			  <div>
				<img src="/file/profileDownload/${msg.fromProfile}" class="rounded-circle">
				<span>${msg.fromName}</span>
			  </div>
			  <div class="mt-1">
				<!-- <a href="/message/view/${msg.mid}">${fn:substring(msg.content, 0, 40)}</a> -->
                <a href="/message/view/${msg.mid}" th:text="${#strings.substring(msg.content, 0, 40)}"></a>
				<!-- <c:set var="msgGenTime" value="${fn:substring(msg.genTime, 0, 19)}" />
				<p>${fn:replace(msgGenTime, 'T', ' ')}</p> -->
                <p th:text="${#strings.replace(#strings.substring(msg.genTime,0,19),'T',' ')}"></p>
              </div>
            </li>
            <li><hr class="dropdown-divider"></li>
          </div>
		  <!-- </c:forEach> -->

            <li class="dropdown-footer">
              <a href="/message/list/${session.sessMid}">메세지 목록 보기</a>
            </li>
          </ul><!-- End Messages Dropdown Items -->
        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/file/profileDownload/${session.sessProfile}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">${session.sessMname}</span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>${session.sessMname}</h6>
              <span>Web Designer</span>
            </li>
            <li><hr class="dropdown-divider"></li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/members/profile">
                <i class="bi bi-person"></i><span>My Profile</span>
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/pages/faq">
                <i class="bi bi-question-circle"></i><span>Need Help?</span>
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/members/logout">
                <i class="bi bi-box-arrow-right"></i><span>로그아웃</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

</div>
</body>
</html>