<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <header th:replace="~{fragments/base :: head}"></header>
  <script>
    function uploadForm() {
      $('#imageModal').modal('show');
    }
    function uploadProc() {
      const formData = new FormData();
      let imageInputVal = $('#image')[0];
      formData.append('file', imageInputVal.files[0]);
      $.ajax({
        type: 'POST',
        url: '/file/profileUpload',
        data: formData,
        processData: false,
        contentType: false,
        success: function(result) {
          $('#imageModal').modal('hide');
          $('#imgPath').val(result);
        }
      });
    }
  </script>
</head>

<body>
  <div th:insert="~{fragments/base :: top}"></div>
  <div th:insert="~{fragments/base :: aside}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item">Members</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img th:src="@{/file/profileDownload/{path}(path=${profile.imgPath})}" alt="Profile" class="rounded-circle">
              <h2 th:text="${profile.mname}"></h2>
              <h3 th:text="${profile.job}"></h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>
              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">요약</h5>
                  <p class="small fst-italic" th:text="${profile.about}"></p>
                  <h5 class="card-title">상세 정보</h5>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">이름</div>
                    <div class="col-lg-9 col-md-8" th:text="${profile.mname}"></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">회사</div>
                    <div class="col-lg-9 col-md-8" th:text="${profile.company}"></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">직업</div>
                    <div class="col-lg-9 col-md-8" th:text="${profile.job}"></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">국적</div>
                    <div class="col-lg-9 col-md-8" th:text="${profile.country}"></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">주소</div>
                    <div class="col-lg-9 col-md-8" th:text="${profile.addr}"></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">전화</div>
                    <div class="col-lg-9 col-md-8" th:text="${profile.phone}"></div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">이메일</div>
                    <div class="col-lg-9 col-md-8" th:text="${profile.email}"></div>
                  </div>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <!-- Profile Edit Form -->
                  <form action="/members/profile" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="pid" th:value="${profile.pid}">
                    <input type="hidden" name="mid" th:value="${profile.mid}">
                    <input type="hidden" name="imgPath" id="imgPath" th:value="${profile.imgPath}">
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        <img th:src="@{/file/profileDownload/{path}(path=${profile.imgPath})}" alt="Profile">
                        <a href="javascript:uploadForm()" class="btn btn-primary btn-sm ps-2" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                        <!-- <div class="pt-2">
                          <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                        </div> -->
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="mname" class="col-md-4 col-lg-3 col-form-label">이름</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="mname" type="text" class="form-control" id="mname" th:value="${profile.mname}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="about" class="col-md-4 col-lg-3 col-form-label">요약</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="about" class="form-control" id="about" style="height: 100px" th:text="${profile.about}" th:value="${profile.about}"></textarea>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">회사</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="company" type="text" class="form-control" id="company" th:value="${profile.company}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="job" class="col-md-4 col-lg-3 col-form-label">직업</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="job" type="text" class="form-control" id="job" th:value="${profile.job}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="country" class="col-md-4 col-lg-3 col-form-label">국적</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="country" type="text" class="form-control" id="country" th:value="${profile.country}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="addr" class="col-md-4 col-lg-3 col-form-label">주소</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="addr" type="text" class="form-control" id="addr" th:value="${profile.addr}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="phone" class="col-md-4 col-lg-3 col-form-label">전화</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="phone" th:value="${profile.phone}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="email" class="col-md-4 col-lg-3 col-form-label">이메일</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="email" th:value="${profile.email}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="twitter" type="text" class="form-control" id="twitter" th:value="${profile.twitter}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="facebook" type="text" class="form-control" id="facebook" th:value="${profile.facebook}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="insta" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="insta" type="text" class="form-control" id="insta" th:value="${profile.insta}">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="linked" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="linked" type="text" class="form-control" id="linked" th:value="${profile.linked}">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">변경</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-settings">
                  <!-- Settings Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="changesMade" checked>
                          <label class="form-check-label" for="changesMade">
                            Changes made to your account
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="newProducts" checked>
                          <label class="form-check-label" for="newProducts">
                            Information on new products and services
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="proOffers">
                          <label class="form-check-label" for="proOffers">
                            Marketing and promo offers
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                          <label class="form-check-label" for="securityNotify">
                            Security alerts
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End settings Form -->
                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->
                </div>
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <div th:insert="~{fragments/base :: bottom}"></div>

  <div class="modal" id="imageModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">프로파일 이미지</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <input class="form-control input-sm" type="file" name="image" id="image">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-sm mt-5" onclick="uploadProc()">제출</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>