<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <header th:replace="~{fragments/base :: head}"></header>
  <style>
    th { text-align: center; width: 14.28%;}  
  </style>
  <script src="/js/calendar.js"></script>
</head>

<body>
  <div th:insert="~{fragments/base :: top}"></div>
  <div th:insert="~{fragments/base :: aside}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Schedule</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item">Schedule</li>
          <li class="breadcrumb-item active">Calendar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <!-- <h5 class="card-title">일정표</h5> -->
              <div class="d-flex justify-content-between mt-3">
                <div th:text="${today}"></div>
                <div>
                    <a href="/schedule/calendar/left2"><i class="bi bi-chevron-double-left"></i></a>
                    <a href="/schedule/calendar/left"><i class="bi bi-chevron-left ms-2"></i></a>
                    <span class="badge bg-primary mx-2" th:text="|${year}.${month}|"></span>
                    <a href="/schedule/calendar/right"><i class="bi bi-chevron-right me-2"></i></a>
                    <a href="/schedule/calendar/right2"><i class="bi bi-chevron-double-right"></i></a>
                </div>
                <div>
                  <a href="#" onclick="addAnniversary()"><i class="bi bi-calendar3-event"></i> 기념일 추가</a>
                </div>
              </div>
              <!-- Table with stripped rows -->
              <table class="table table-bordered mt-2">
                <tr>
                  <th class="text-danger">일</th>
                  <th>월</th><th>화</th><th>수</th><th>목</th><th>금</th>
                  <th class="text-primary">토</th>
                </tr>
                <tr th:each="week: ${calendar}">
                  <div th:each="day: ${week}">
                    <td th:style="|height: ${height}px; ${todaySdate == day.sdate ? 'background-color: #efffff;' : ''}|" th:onclick="cellClick([[${day.sdate}]])">
                      <div th:if="${day.isOtherMonth == 1}">
                        <div class="d-flex justify-content-between">
                          <div style="opacity: 0.5;" th:class="${(day.date == 0 || day.isHoliday == 1) ? 'text-danger' : day.date == 6 ? 'text-primary' : ''}">
                            <strong th:text="${day.day}"></strong>
                          </div>
                          <div>
                            <small th:each="anniv: ${day.annivList}">
                              <span th:text="|${annivStat.first ? '' : '&middot;'} ${anniv}|"></span>
                            </small>
                          </div>
                        </div>
                      </div>
                      <div th:if="${day.isOtherMonth == 0}">
                        <div class="d-flex justify-content-between">
                          <div th:class="${(day.date == 0 || day.isHoliday == 1) ? 'text-danger' : day.date == 6 ? 'text-primary' : ''}">
                            <strong th:text="${day.day}"></strong>
                          </div>
                          <div>
                            <small th:each="anniv: ${day.annivList}">
                              <span th:text="|${annivStat.first ? '' : '&middot;'} ${anniv}|"></span>
                            </small>
                          </div>
                        </div>
                      </div>
                      <div th:each="sched: ${day.schedList}">
                        <span class="" th:class="${schedStat.first ? 'mt-1' : ''}" th:onclick="schedClick([[${sched.sid}]])">
                          <small>
                            <span th:text="${sched.startTime}"></span>
                            <span th:class="${sched.isImportant == 1 ? 'fw-bold' : ''}" th:text="${sched.title}"></span>
                          </small>
                        </span>
                      </div>
                    </td>
                  </div>
                </tr>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <div th:insert="~{fragments/base :: bottom}"></div>

  <!-- addModal -->
	<div class="modal" id="addModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">일정 추가</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
			
				<div class="modal-body">
					<form action="/schedule/insert" method="post">
						<table class="table table-borderless">
              <tr>
                <td colspan="2">
                  <label for="title">제목</label>
                  <input class="ms-5 me-2" type="checkbox" name="importance">중요
                  <input class="form-control" type="text" id="title" name="title">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="startDate">시작일</label>
                  <input class="form-control" type="date" id="startDate" name="startDate">
                </td>
                <td>
                  <label for="startTime">시작시간</label>
                  <select class="form-control" name="startTime" id="startTime" >
                    <option th:each="tl: ${timeList}" th:value="${tl}" th:text="${tl}"></option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="endDate">종료일</label>
                  <input class="form-control" type="date" id="endDate" name="endDate">
                </td>
                <td>
                  <label for="endTime">종료시간</label>
                  <select class="form-control" name="endTime" id="endTime">
                    <option th:each="tl: ${timeList}" th:value="${tl}" th:text="${tl}"></option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="place">장소</label>
                  <input class="form-control" type="text" id="place" name="place">
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="memo">메모</label>
                  <input class="form-control" type="text" id="memo" name="memo">
                </td>
              </tr>
              <tr>
                <td colspan="2" style="text-align: right;">
                  <button class="btn btn-primary me-2" type="submit">제출</button>
                  <!-- <button class="btn btn-secondary" type="reset">취소</button> -->
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">종료</button>
                </td>
              </tr>
            </table>
					</form>
				</div>
			</div>
		</div>
	</div>

  <!-- updateModal -->
	<div class="modal" id="updateModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">일정 조회/수정/삭제</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
			
				<div class="modal-body">
					<form action="/schedule/update" method="post">
						<input type="hidden" name="sid" id="sid2">
						<table class="table table-borderless">
              <tr>
                <td colspan="2">
                  <label for="title2">제목</label>
                  <input class="ms-5 me-2" type="checkbox" id="importance2" name="importance">중요
                  <input class="form-control" type="text" id="title2" name="title">
                </td>
              </tr>
              <tr>
                <td>
                  <label for="startDate2">시작일</label>
                  <input class="form-control" type="date" id="startDate2" name="startDate">
                </td>
                <td>
                  <label for="startTime2">시작시간</label>
                  <select class="form-control" name="startTime" id="startTime2">
                    <option th:each="tl: ${timeList}" th:value="${tl}" th:text="${tl}"></option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="endDate2">종료일</label>
                  <input class="form-control" type="date" id="endDate2" name="endDate">
                </td>
                <td>
                  <label for="endTime2">종료시간</label>
                  <select class="form-control" name="endTime" id="endTime2">
                    <option th:each="tl: ${timeList}" th:value="${tl}" th:text="${tl}"></option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="place2">장소</label>
                  <input class="form-control" type="text" id="place2" name="place">
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="memo2">메모</label>
                  <input class="form-control" type="text" id="memo2" name="memo">
                </td>
              </tr>
              <tr>
                <td colspan="2" style="text-align: right;">
                  <button class="btn btn-primary me-2" type="submit">수정</button>
                  <button class="btn btn-danger me-2" type="button" data-bs-dismiss="modal" onclick="deleteSchedule()">삭제</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">종료</button>
                </td>
              </tr>
            </table>
					</form>
				</div>
			</div>
		</div>
	</div>  

</body>
</html>