<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <header th:replace="~{fragments/base :: head}"></header>
  <style>
    .disabled-link	{ pointer-events: none; }  
  </style>
</head>

<body>
  <div th:insert="~{fragments/base :: top}"></div>
  <div th:insert="~{fragments/base :: aside}"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Message List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item">Message</li>
          <li class="breadcrumb-item active">List</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Message List
            	<span class="ms-5"><a href="/message/write"><i class="bi bi-pencil-fill"></i> 쓰기</a></span>
              </h5>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>발신</th>
                    <th>수신</th>
                    <th>상태</th>
                    <th>발신시각</th>
                    <th>액션</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="message: ${messageList}">
                    <td th:text="${message.mid}"></td>
                    <!-- ${empty message.fromName ? message.mfrom : message.fromName} -->
                    <td th:text="${#strings.isEmpty(message.fromName) ? message.mfrom : message.fromName}"></td>
                    <td th:text="${message.mto}"></td>
                    <td>
                      <th:block th:switch="${message.status}">
                        <span th:case="0">신규</span>
                        <span th:case="1">읽음</span>
                        <span th:case="2">삭제됨</span>
                      </th:block>
                    </td>
                    <td th:text="${#strings.replace(#strings.substring(message.genTime,0,19),'T',' ')}"></td>
                    <td>
                      <th:block th:if="${session.sessMid == message.mto}">
                        <a href="@{/message/view/{id}(id=${message.mid})}"><i class="bi bi-eye-fill"></i></a>
                        <a href="@{/message/write/{to}(to=${message.mfrom})}"><i class="bi bi-pencil-fill"></i></a>
                        <a href="@{/message/delete/{id}?referer=/message/list(id=${message.mid})}"><i class="bi bi-trash-fill"></i></a>
                      </th:block>
                      <th:block th:unless="${session.sessMid == message.mto}">
                        <a href="#" class="disabled-link"><i class="bi bi-eye-fill"></i></a>
                        <a href="#" class="disabled-link"><i class="bi bi-pencil-fill"></i></a>
                        <a href="#" class="disabled-link"><i class="bi bi-trash-fill"></i></a>
                      </th:block>
                      <!-- <span th:if="${session.sessMid == message.mto}">
                    	  <a href="@{/message/view/{id}(id=${message.mid})}"><i class="bi bi-eye-fill"></i></a>
                        <a href="@{/message/write/{to}(to=${message.mfrom})}"><i class="bi bi-pencil-fill"></i></a>
                        <a href="@{/message/delete/{id}?referer=/message/list(id=${message.mid})}"><i class="bi bi-trash-fill"></i></a>
                      </span>
                      <span th:if="${session.sessMid != message.mto}">
                    	  <a href="#" class="disabled-link"><i class="bi bi-eye-fill"></i></a>
                        <a href="#" class="disabled-link"><i class="bi bi-pencil-fill"></i></a>
                        <a href="#" class="disabled-link"><i class="bi bi-trash-fill"></i></a>
                      </span> -->
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <div th:insert="~{fragments/base :: bottom}"></div>
</body>
</html>